@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, a, blockquote, th { margin: 0; padding: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 14px }
ol, ul, li { list-style: none outside none }
table { border-collapse: collapsse; border-spacing: 0 }
fieldset, img { border: 0 none }
/*html { background: ##f5f5f5 }*/
body { background: #f5f5f5; color: #333; font: 12px/1.5 PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif,"宋体"; text-align: left }
input::-moz-focus-inner {
border:none;
padding:0
}
a img { border: none }
a { outline: none; color: #333; text-decoration: none }
a:hover, .topBar a:hover, .red, .record_list li:hover .read_link a { color: #f70 }
.red1 { color: #ff4040 }
.unlink { text-decoration: underline }
.blue { color: #5fc3f3 }
.green { color: #360 }
.black { color: #000 }
.black3 { color: #333 }
.black6 { color: #666 }
.black9 { color: #999 }
.ccc { color: #ccc }
.orange { color: #f60 }
.font12 { font-size: 12px!important }
.font14 { font-size: 14px!important }
.font16 { font-size: 16px!important }
.font18 { font-size: 18px!important }
.font20 { font-size: 20px!important }
.font26 { font-size: 26px!important }
.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all }
textarea { resize: none; outline: none; border: 1px solid #CCC; font: 12px/1.8 "microsoft yahei", Arial; padding-left: 5px }
input { outline: none; border: none; /* padding-left: 5px; font-size: 13px;*/ font-family: "microsoft yahei", Arial; *background:none
}
i, em, cite { font-style: normal }
.layui-inline, input, label { vertical-align: middle }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; outline: 0 }
button, select { text-transform: none }
/*select { -webkit-appearance: none; border: none }*/
input { line-height: normal }
input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0 }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { height:auto }
input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box }
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance:none }
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none }
:-moz-placeholder { color: #999 }
::-moz-placeholder { color: #999 }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999 }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999 }
.cf { zoom: 1 }
.cf:before, .cf:after { content: ""; display: table; display: block; font-size: 0; height: 0; line-height: 0; clear: both; visibility: hidden }
.cf:after { clear: both }
.clear { clear: both }
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.fl { float: left }
.fr { float: right }
.block { display: block }
.none, .hidden { display: none }
/*base end*/
.channelWrap { background: #fff; border-radius: 6px; padding: 20px; margin-bottom: 20px }
.channelWrap.channelBanner { padding-bottom: 14px }
.wrap_left { width: 750px }
.wrap_right { width: 250px }
.wrap_inner { padding: 20px; border-radius: 6px; background: #fff; }
.wrap_bg { border-radius: 6px; background: #fff; }
.pad20 { padding: 20px }
.pad20_nobt { padding: 20px 20px 0 }
.topBar { width: 100%; background: #fbfaf8; border-bottom: 1px solid #eae6e2; height: 35px; line-height: 35px }
.box_center { width: 1020px; margin: 0 auto }
.top_l { float: left }
.top_r { float: right }
.topBar .line { display: inline-block; padding: 0 12px; color: #e5d9da }
.topBar a { display: inline-block; color: #8C8C8C }
.topBar a.on { color: #333 }
.topMain { height: 92px; background: #fff; overflow: hidden }
.logo { width: 198px; float: left; padding: 23px 130px 0 0; display: block }
.logo img { width: auto; height: 48px }
.searchBar { width: 342px; margin-top: 27px; overflow: hidden }
.searchBar .search/*, .searchBar .hotword*/ { width: 342px; overflow: hidden }
.searchBar .s_int { width: 250px; padding: 0 14px 0 18px; height: 36px; line-height: 36px\9; vertical-align: middle; border: 1px solid #ff304d; border-right: none; color: #333; float: left; border-radius: 20px 0 0 20px; font-size: 14px; /*background: #fff;*/ background: 0 0 }
/*.searchBar .s_btn { width: 78px; height: 38px; line-height: 38px; background: #f65167; color: #fff; font-size: 16px; text-align: center; float: left; cursor: pointer; padding: 0 }
.searchBar .s_btn:hover { background:#E23249 }*/
.searchBar .search_btn { float: left;
    width: 58px;
    height: 38px;
    text-align: center;
    border-radius: 0 20px 20px 0;
    background-color: #ff304d; cursor: pointer; }
.searchBar .search_btn .icon { width: 18px; height: 18px; display: block; margin: 9px auto 0; background: url(../images/search.png) no-repeat; background-size:cover; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/search.png', sizingMethod='scale'); }

/*.hotword { padding-top: 3px }
.hotword a, .hotword span { color: #999; margin: 0 6px 0 5px }
.hotword a:hover { color: #666 }*/
.bookShelf { margin-top: 27px; padding-left: 20px; overflow: hidden }
.bookShelf .sj_link { height: 38px; line-height: 38px; padding-left: 30px; font-size: 15px; color: #404040; background: url(../images/icon_sj.png) no-repeat 6px 50%; float: left }
.bookShelf .user_link { height: 38px; line-height: 38px; padding-left: 20px; font-size: 15px; color: #404040; float: right }
.bookShelf .user_head { width: 26px; height: 26px; border-radius: 50%; float: left; margin: 6px 5px 0 0 }
.bookShelf .user_name { max-width: 100px; display: inline-block }
.bookShelf .line { float: left; color: #ccc }
/*.bookShelf img { position: absolute; top: 17px; left: 17px; z-index: 10 }*/
.mainNav { width: 100%; height: 48px; background: #ff304d; margin-bottom: 20px }
.mainNav .nav li { float: left }
.mainNav .nav li a { float: left; height: 44px; line-height: 48px; color: #fff; font-size: 16px; margin: 0 34px; border-bottom: 2px solid #ff304d; transition: color .3s,background-color .3s,border .3s }
.mainNav .nav li.on a, .mainNav .nav li a:hover { border-bottom: 2px solid rgba(255,255,255,.8) }
.footer { padding: 0 0 20px; /*margin-top: 20px; background: #fbfaf8; border-top: 1px solid #e0e0e0; */text-align: center; font-size: 12px }
.copyright ul li { color: #999; line-height: 26px }
.copyright .menu { padding: 2px 0 6px; font-size: 12px }
.copyright .line { display: inline-block; padding: 0 12px; color: #e5d9da }
.copyright p { margin-top: 10px; color: #999 }
.code_bar img { margin-left: 66px }
.rBar { float: right; width: 268px }
.btn_gray, .btn_red, .btn_ora, .btn_ora_white, .btn_red1 {  border-radius: 20px; font-size: 15px; display: inline-block; text-align: center; cursor: pointer; /*padding: 0 34px; height: 34px; line-height: 34px;*/ padding: 11px 36px; line-height: 1; }
.btn_gray { border: 1px solid #dedede; background: #fafafa; }
.btn_red, .btn_ora { border: 1px solid #f80; background: #f80; color: #fff }
.btn_red1 { border: 1px solid #ff4040; background: #ff4040; color: #fff }
.btn_ora_white { border: 1px solid #f80; color: #f80 }
.btn_ora_white:hover { background: #fefaf6 }
.btn_link { padding: 2px 6px; background: #f80; color: #fff; border-radius: 2px }
.btn_gray:hover { background: #f0f0f0; color: #333 }
.btn_ora:hover, .btn_red:hover, .btn_link:hover { background: #f70; color: #fff }
.btn_red1:hover { background: #fc2525; color: #fff }
.pay_Checkout .btn_red, .btn_big {
    font-size: 16px;
    padding: 15px 0;
    border-radius: 4px;
    width: 196px; }
i.vip { width: 26px; height: 14px; text-align: center; line-height: 14px; font-size: 11px; color: #fff; background: #fe8034; border-radius: 2px; margin: 13px 0 0 3px; display: inline-block; transform: scale(0.88); }
i.vip_b { width: 36px; height: 22px; text-align: center; line-height: 22px; font-size: 15px; color: #fff; background: #f70; border-radius: 4px; margin-left: 5px; display: inline-block; vertical-align: 3px }
.pageBox { text-align: center; padding: 20px 0 }
.pageBox a, .pageBox span { display: inline-block; color: #999; padding: 6px 10px; margin: 0 5px; border-radius: 4px; font-size: 14px; line-height: 1 }
.pageBox .current, .pageBox a:hover { background: #f80; color: #fff }
.top_nearread { display: inline-block; position: relative; margin-right: 10px; float:left }
.top_nearread .nearread { padding: 0 9px }
.top_nearread .nearread.on { border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; background: #FFF; padding: 0 8px; height: 36px; position: relative; z-index: 8 }
.icon_down { display: inline-block; vertical-align: middle; margin: 2px 0 0 5px; width: 0px; height: 0px; overflow: hidden; border-width: 4px; border-style: solid dashed dashed; border-color: #7f7f7f transparent transparent; }
.book_record { width: 382px; position: absolute; top: 0; right: 0; z-index: 9 }
.record_box { width: 380px; background: #fff; margin-top:35px; border: 1px solid #d9d9d9 }
.book_record .sp { width:77px; height:6px; background:#fff; position:absolute; top:32px; right:1px }
.record_title { padding: 14px 10px }
.record_title a { border: 1px solid #dedede; background: #fafafa; border-radius: 2px; font-size: 12px; padding: 6px 12px; line-height: 1; margin-right: 14px }
.record_title a.on { border: 1px solid #f65167; background: #f65167; color: #fff }
.record_box .all { display: block; height: 28px; line-height: 28px; text-align: center; background: #f6f6f6 }
.record_list ul { margin-bottom: 10px }
.record_list li { clear: both; padding: 10px; line-height: 1; overflow: hidden }
.record_list li:hover { background: #f6f6f6 }
.record_list li .cover { width: 50px; height: 63px; background: #f6f6f6 }
.record_list li .cover img { width: 100%; height: 100%; }
.record_list a { display: inline; color: #333 }
.record_list .book_intro { width: 300px; height: 65px; padding-left: 10px; position: relative; }
.record_list .book_intro p { height: 20px; line-height: 20px; overflow: hidden; color: #999; }
.record_list .book_intro .p1 { font-size: 14px; }
.record_list .book_intro .p2 { margin: 2px 0; white-space: nowrap; text-overflow: ellipsis }
.record_list .book_intro .p3 { }
.record_list .book_intro i.vip { margin:0 0 0 3px }
.record_list .read_link a { color: #fff }
.manBody {}
.manBody .mainNav { background:#3e3d43 }
.manBody .searchBar .s_int { border: 1px solid #878689; border-right:none; background-position:8px -22px }
.manBody .mainNav .nav li.on a, .manBody .mainNav .nav li a:hover { background:#313035 }
.nav_sub { margin-bottom: 16px }
.nav_sub a { padding: 0 6px }

.copyright .menu a { color: #666; font-size: 12px }
.copyright .menu a:hover, .bookShelf .sj_link:hover { color: #f70 }

.rightList .more, .more_bar { margin: 1px 0; height: 34px; line-height: 34px; border-radius: 1px; background-color: #f7f7f7; text-align: center }
.rightList .more a, .more_bar a { display: block; color: #666 }
.header, .footer { min-width: 1020px }
/*book*/

.Interaction_tab a, .Interaction_tab a .icon, .Interaction_tab a.fr .icon, .dashang_bar .l_bar .list li, .btn_pc, .btn_flw, .fansBox .fans_bg, .icon_hg { background: url(../images/icon_interation.png) no-repeat }
.InteractionBox { padding: 15px 14px 11px }
.Interaction_tab a { width: 339px; height: 60px; line-height: 60px; font-size: 14px; color: #000 }
/*.Interaction_tab a:hover, .Interaction_tab a.on { background-position: 0 -60px; color: #000 }*/
.Interaction_tab a .icon { width: 38px; height: 60px; float: left; margin: 0 10px 0 64px; background-position: -348px 0 }
.Interaction_tab a.fr .icon { background-position: -348px -60px }
.Interaction_tab h4 { font-size: 17px; margin-right: 8px; display: inline }
.InteractionBox .l_bar, .InteractionBox .r_bar { width: 335px; margin: 0 2px; float: left }
.InteractionBox .r_bar .time { padding-right: 1px }
.InteractionBox .l_bar .tit { padding: 22px 14px 0 4px }
.InteractionBox .l_bar .tit .red, .InteractionBox .r_bar .tit .red { padding: 0 5px }
.InteractionBox .l_bar .tit .fl { font-size: 17px }
.InteractionBox .l_bar .tit .fr { padding-top: 7px }
.dashang_bar .l_bar .list { padding-top: 20px }
.dashang_bar .l_bar .list li { width: 90px; height: 134px; line-height: 1; float: left; margin: 0 20px 0 6px; text-align: center; background-position: 0 -130px }
.dashang_bar .l_bar .list li img { width: 60px; height: 60px; background: #fff; margin: 35px 15px 10px; border-radius: 50%; box-shadow: 0 1px 0 rgba(0,0,0,.3) }
.dashang_bar .l_bar .list li .user_name { line-height: 1!important; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; padding: 0 10px }
.dashang_bar .l_bar .list .li_1 { }
.dashang_bar .l_bar .list .li_2 { background-position: -100px -130px }
.dashang_bar .l_bar .list .li_3 { background-position: -200px -130px; margin-right: 0 }
.InteractionBox .r_bar .tit { padding: 14px 1px 12px 1px }
.InteractionBox .r_bar .tit strong { display: block; font-size: 13px }
.InteractionBox .r_bar .list, .InteractionBox .r_bar .sum { margin: 0 1px }
.InteractionBox .r_bar .list li { height: 27px; line-height: 27px; overflow: hidden; border-top: 1px dotted #ccc; color: #999 }
.InteractionBox .r_bar .list li .user_name { margin-right: 8px }
.InteractionBox .r_bar .sum { border-top: 1px dotted #ccc; line-height: 34px }
.btn_pc, .btn_flw { width: 140px; height: 44px; display: inline-block; background-position: 0 -270px }
.btn_flw { width: 122px; background-position: -150px -270px }
.flower_bar .l_bar .list { padding: 0 14px 0 4px }
.flower_bar .l_bar li { padding: 15px 0 6px; overflow: hidden; clear: both }
.flower_bar .l_bar .book_intro { width: 265px }
.flower_bar .l_bar .cover img { width: 45px; height: 56px; background: #f6f6f6; margin: 2px 16px 0 0 }
.flower_bar .l_bar .book_intro .txt { height: 38px; line-height: 18px; padding-top: 2px; color: #999; overflow: hidden; display: block }
.r_fansBrank .book_intro { float: inherit!important }
.user_level1, .user_level2, .user_level3, .user_level4, .user_level5, .user_level6, .user_level7, .user_level8, .user_level9, .user_level10, .user_level11 { width: 30px; height: 16px; line-height: 16px; text-align: center; border-radius: 2px; margin: 11px 0 0; color: #fff }
.user_level1 { background: #d0d0d0 }
.user_level2 { background: #c0c0c0 }
.user_level3 { background: #b4b3b3 }
.user_level4 { background: #a0dfe6 }
.user_level5 { background: #77d2db }
.user_level6 { background: #b4d894 }
.user_level7 { background: #94c766 }
.user_level8 { background: #ffc24c }
.user_level9 { background: #ffa800 }
.user_level10 { background: #ff6e26 }
.user_level11 { background: #ff0000 }
/*固定悬浮图层*/
.readPopup { border: 1px solid #D9D9D9; border-radius: 3px; background: #FFF; box-shadow: 0 1px 2px #999; overflow: hidden; padding-bottom: 20px; z-index: 9999; position: fixed; left: 50%; top: 50% }
.icon_check { position: absolute; width: 29px; height: 25px; right: -1px; top: -1px; z-index: 2; background: url(../images/icon_readpage.png) no-repeat 0 -142px }
.on .icon_check { display: block }
.closePopup { position: absolute; top: 20px; right: 20px; width: 16px; height: 15px; background: url(../images/icon_readpage.png) no-repeat -43px -126px }
.chapterBox { width: 600px; margin-left: -300px; margin-top: -260px }
.chapterBox .scrollWrap { height: 540px }
/*弹窗内容*/
.popupTit h2 { text-align: center; letter-spacing: 15px; color: #333; font: 700 20px/30px "Microsoft Yahei"; margin: 30px 0 }
.popupTit h3 { font-size: 16px; margin: 15px 20px }
.scrollWrap { overflow-y: scroll; position: relative }
.dirWrap { padding: 0 40px }
.scrollWrap h3 { padding-left: 26px; font-size: 14px; background: #e6e6e6; height: 30px; line-height: 30px; font-weight: normal; position: relative; cursor: pointer; margin: 0 0 15px; border-radius: 3px }
.readPopup .tc .btn_gray { margin-left: 30px }
/*捧场、送鲜花*/
.pcBox, .flowerBox { width: 500px; margin-left: -251px; margin-top: -215px }
.propsList { padding: 15px 0 10px 20px }
.propsList li { float: left; cursor: pointer; margin: 0 8px 16px; text-align: center }
.propWrap { width: 134px; height: 54px; line-height: 54px; text-align: center; font-size: 15px; color: #000; display: block; border: 1px solid #e6e6e6; background: #fafafa; position: relative }
.on .propWrap, .propWrap:hover { width: 132px; height: 52px; line-height: 52px; color: #f70; border: 2px solid #f80; background: #fff }
.propsList li i { display: none; line-height: 1 }
.propsList li .propsBox { padding-top: 20px }
.have_num { padding: 0 30px 10px; font-size: 14px; color: #999 }
.have_num .red { margin: 0 4px }
.popup_text { width: 418px; height: 62px; padding: 8px 10px; margin: 8px 30px 20px; color: #555; border: 1px solid #e6e6e6; }
/*消息提示*/
.newsTipBox { width: 400px; padding-bottom: 30px; margin-left: -200px; margin-top: -105px }
.tipWrap { padding: 30px; font-size: 14px }
/*遮罩层*/
.maskBox { position: fixed; left: 0; top: 0; z-index: 995; width: 100%; height: 100%; background: black; filter: alpha(opacity=30); opacity: 0.3; animation: mask 2s ease-out 0s 1 normal }
@keyframes mask { 0% {
filter:alpha(opacity=0);
opacity:0
}
100% {
filter:alpha(opacity=30);
opacity:0.3
}
}
.fansBox { width: 998px; border: 1px solid #eaeaea }
.fansHead { height: 54px; line-height: 54px; margin: 0 14px; border-bottom: 1px solid #eaeaea; font-weight: normal }
.fansHead h2 { font-size: 20px; font-weight: normal }
.fansCon { padding: 20px }
.fansCon .r_bar { width: 204px }
.fansCon .cover { width: 200px; height: 250px; background: #f6f6f6; border: 1px solid #ebebeb; padding: 1px; }
.fansCon .btn_red { width: 202px; margin: 2px 0 14px; padding: 10px 0 }
.fansCon .l_bar { width: 750px }
.fansCon .l_bar .list1 { padding-top: 4px }
.fansCon .list1 li { width: 33%; line-height: 1; float: left }
.fansCon .list1 .fans_bg { width: 90px; height: 112px; background-position: 0 -320px; position: relative; margin-right: 18px }
.fansCon .list1 .fans_bg img { width: 60px; height: 60px; background: #fff; margin: 39px 15px 0; border-radius: 50%; box-shadow: 0 1px 0 rgba(0,0,0,.3) }
.fansCon .list1 h5 { font-size: 16px; padding: 9px 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.fansCon .list1 li .user_name { line-height: 1!important }
.fansCon .list1 .li_2 .fans_bg { background-position: -100px -320px }
.fansCon .list1 .li_3 .fans_bg { background-position: -200px -320px }
.fansCon .fans_info { width: 136px; font-size: 14px }
.fansCon .fans_info .fans_pointer { padding: 14px 0 22px }
.fans_level span { padding: 1px 10px 2px }
.icon_hg { width: 30px; height: 30px; display: inline-block; background-position: -300px -320px; position: absolute; top: -13px; right: -13px }
.fansCon .list2 { padding: 0 }
.fansCon .list2 li { width: 250px; float: left; height: 59px; padding: 0 0 19px; display: inline }
.fansCon .list2 .num { font: 16px/59px "microsoft yahei", Arial, "宋体"; width: 32px; color: #666; font-weight: bold }
.fansCon .list2 .img { width: 40px; height: 40px; margin-top: 10px; position: relative }
.fansCon .list2 .img img { width: 100%; height: 100%; border-radius: 50% }
.fansCon .list2 .img span { display: block; margin: 0; position: absolute; left: 5px; bottom: 0 }
.fansCon .list2 .msg { display: inline; width: 164px; padding: 8px 0 0 12px; }
.fansCon .list2 .msg h4 { line-height: 24px; font-weight: normal; font-size: 16px; overflow: hidden; height: 24px; white-space: nowrap; text-overflow: ellipsis; }
.fansCon .list2 .msg p { font-size: 12px; line-height: 16px; color: #999; }
.fansTop { margin-bottom: 8px; border-bottom: 1px solid #eaeaea }
.fans_tab { width: 1005px; overflow: hidden; }
.fans_tab ul { float: left; width: 280px; margin-right: 55px; }
.fans_tab li { line-height: 39px; overflow: hidden; font-size: 14px; height: 39px; border-bottom: 1px solid #ebebeb; }
.fans_tab li .num { float: left; width: 40px; color: #666; }
.fans_tab li a { float: left; overflow: hidden; width: 200px; white-space: nowrap; text-overflow: ellipsis; }
.fans_tab li .fans_level { float: left; font-size: 12px; width: 40px; text-align: right; color: #999; }
.fansRule dl { padding: 20px 20px 30px }
.fansRule dt { line-height: 24px; margin-bottom: 6px; font-size: 16px; }
.fansRule dd { font-size: 12px; line-height: 20px; margin-bottom: 16px; color: #777; }
.fansRule table { width: 100%; border-collapse: collapse; }
.fansRule table th, .fansRule table td { font-weight: 400; min-width: 40px; padding: 12px 0; text-align: left; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
.fansRule ol li { list-style-type: decimal; list-style-position: inside; }
.InteractionBox .l_bar, .flower_bar .l_bar { display: none }
.dashang_bar { float: left }
.flower_bar { float: right }
.author_head { text-align: center }
.author_head .head img { width:64px; height:64px; border-radius: 50%; background:#f6f6f6; display: block; margin: 0 auto }
.author_head .msg { margin-top: -4px }
.author_head .msg h4 { font-size:14px; line-height:2.4 }
.icon_qyzz { padding: 5px; line-height:1; background:#f70; color:#fff; border-radius:3px; display:inline-block }
.author_intro, .author_book { border-top:1px dotted #e0e0e0 }
.author_intro h4,.author_book h4 { font-weight: normal; font-size: 12px; padding:10px 0 5px }
.author_intro .intro_txt, .author_book .book_txt { line-height:1.8; padding-bottom:10px }
.author_book .rightList ul { padding:0 }


.tj_bar .cover { float: left; display: block; margin-right: 10px }
.tj_bar .cover img { width: 64px; height: auto; background: #f6f6f6 }
.tj_bar .book_intro { padding: 15px 0; clear: both; word-break: break-all; zoom: 1; overflow: hidden }
.tj_bar .dec { width: 136px; float: right }
.tj_bar .book_intro .book_name { display: block; font-size: 14px; line-height: 1; white-space: nowrap; text-overflow: ellipsis; overflow: hidden }
.tj_bar .book_intro .txt { height: 54px; line-height: 1.5; color: #808080; overflow: hidden; display: block; margin-top: 10px; }
.tj_bar li { border-bottom: 1px solid #eee }
.tj_bar li:last-child { border: none }
.tj_bar li:last-child .book_intro { padding: 15px 0 2px }

.friend_link { display: none }
.footer { background: #fff; padding: 16px 0 20px }


/* end book*/

/*base*/
.noborder { border: 0!important }
.nomargin { margin: 0!important }
.ml { margin-left: 12px }
.mr { margin-right: 12px }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mb5 { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb50 { margin-bottom: 50px }
.pointer { cursor: pointer }
.notindent { text-indent: inherit!important }
.vm { vertical-align: middle!important }
.border_t { border-top: 1px solid #eee }
.border_b { border-bottom: 1px solid #eee }
.border_l { border-left: 1px solid #eee }
.border_r { border-right: 1px solid #eee }
.layui-laypage-curr{
    background: #f80;
}
.layui-laypage-curr em {
   color: #fff;
}
.layui-disabled, .layui-disabled:hover {
    color: #d2d2d2 !important;
    cursor: not-allowed !important
}

#noFeedbackNote {
    line-height: 400px;
    text-align: center;
    border-top: 1px solid #eee;
}

#txtDescription {
    /*width: 900px;*/
    height: 288px;
    margin: 20px auto 20px;
    padding: 10px;


    /*Thêm Phong Cách*/
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #eee;
    font-size: 14px;
}

.userBox {
    margin: 0 auto
}